
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4>Kontaktformulär</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group row">
        <label for="formMail" class="col-3 col-form-label">Tilltalsnamn</label>
        <div class="col-9">
          <input class="form-control" type="input" placeholder="Exempel 'Knut Knutsson'" id="formMail">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group row">
        <label for="formMail" class="col-2 col-form-label">Mail</label>
        <div class="col-10">
          <input class="form-control" type="email" placeholder="Exempel 'mail@test.nu'" id="formMail">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group row">
        <label for="formTitle" class="col-2 col-form-label">Ämne</label>
        <div class="col-10">
          <input class="form-control" type="email" placeholder="Exempel 'Angående..'" id="formTitle">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-sm-12">
      <div class="form-group">
        <label for="formMessage">Meddelande</label>
        <textarea class="form-control" id="formMessage" rows="3"></textarea>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Skicka</button>
</div>
