<nav class="navbar navbar-toggleable navbar-light header-styling">
  <div class="justify-content-center">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <a class="navbar-brand site-title" routerLink="/"><img src="/img/logo.png" alt="" class="logo-style"></a>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <div class="navbar-nav mr-auto">
      <a *ngFor="let link of menuLinks" class="nav-item nav-link" routerLink="/{{link.path}}" routerLinkActive="active"
         (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      {{link.name}}</a>
    </div>
  </div>
</nav>
