<div class="container" *ngIf="usObject">
  <div class="row">
    <div class="col-12">
      <div class="vspace"></div>
      <img class="img-fluid jobb-img" src="img/jobb.jpg">
      <div class="vspace"></div>
      <h2 class="card-title text-muted">{{usObject.jobs.header}}</h2>
      <p *ngFor="let text of usObject.jobs.texts" class="text-muted">{{text}}</p>

      <div class="vspace"></div>
      <p class="text-muted"> Mail: <strong>{{usObject.contact.mail.hq}}</strong></p>
      <p class="text-muted"> Tele: <strong>{{usObject.contact.phone}}</strong></p>
      <div class="vspace"></div>
    </div>
  </div>
</div>
