<!--<div class="row">
    <div class="col-12">
        <ul class="nav">
            <li *ngFor="let link of links" [ngClass]="{'active': link == activeLink}" class="nav-item">
                <a (click)="setActive(link)" class="nav-link" href="#">{{link}}</a>
            </li>
        </ul>
    </div>
</div>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ngb-tabset>
              <ngb-tab title="Översikt">
                <template ngbTabContent>
                  <h2>Översikt</h2>
                  <p>Översikts sida..</p>
                </template>
              </ngb-tab>
              <ngb-tab title="Fakta">
                <template ngbTabContent>
                  <h2>Fakta</h2>
                  <p>Fakta sida..</p>
                </template>
              </ngb-tab>
              <ngb-tab title="Bilder">
                <template ngbTabContent>
                  <h2>Bilder</h2>
                  <p>Bild sida..</p>
                </template>
              </ngb-tab>
              <ngb-tab title="Planritning">
                <template ngbTabContent>
                  <h2>Planritning</h2>
                  <p>Planritningssida..</p>
                </template>
              </ngb-tab>
              <ngb-tab title="Kontakt">
                <template ngbTabContent>
                  <h2>Kontakt sida..</h2>
                  <p>Kontakt sida..</p>
                </template>
              </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>

