<div class="container">
	<div class="row">
		<div class="card mb-3">
			<div class="row no-gutters">
				<div class="col-6">
					<img class="card-img-top img-fluid img-object-small rounded-0" src="img/object1-id1.jpg" alt="Card image cap">
			  </div>
				<div class="col-6">
					<img class="card-img-top img-fluid img-object-small rounded-0" src="img/object2-id1.jpg" alt="Card image cap">
			  </div>
		  </div>
		  <div class="card-block">
		    <h4 class="card-title">Malmö</h4>
		    <p class="card-text">Mellingevägen 3</p>
		    <p class="card-text"><small class="text-muted">Ett hus att sämja dem, ett hus att främja dem, ett hus att djupt i mörkrets vida riken tämja dem!</small></p>
		  </div>
		</div>
	</div>
</div>