<div class="sales-object-header">  
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <ngb-tabset>
                <ngb-tab title="Översikt">
                  <template ngbTabContent>
                    <sales-object-summary></sales-object-summary>
                  </template>
                </ngb-tab>
                <ngb-tab title="Fakta">
                  <template ngbTabContent>
                    <h2>Fakta</h2>
                    <p>Fakta sida..</p>
                  </template>
                </ngb-tab>
                <ngb-tab title="Bilder">
                  <template ngbTabContent>
                    <sales-object-images></sales-object-images>
                  </template>
                </ngb-tab>
                <ngb-tab title="Planritning">
                  <template ngbTabContent>
                    <layout></layout>
                  </template>
                </ngb-tab>
                <ngb-tab title="Kontakt">
                  <template ngbTabContent>
                    <h2>Kontakt sida..</h2>
                    <p>Kontakt sida..</p>
                  </template>
                </ngb-tab>
              </ngb-tabset>
          </div>
      </div>
  </div>
</div>

