<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4>Ansvarig mäklare</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nesciunt ullam doloremque quos at, 
        tenetur consequuntur harum cum dolores numquam fuga rerum culpa enim quod.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <br>
      <p>
        <strong>Namn: </strong> Erik Olsson <br/>
        <strong>Telefon: </strong> 070-3401948 <br/>
        <strong>Epost: </strong> erik.olsson@dhyrorumson.se
      </p>
    </div>
    <div class="col-6"><img src="img/employees/erikolsson.svg" style="width:60%"></div>
  </div>
</div>
<hr>