<div class="container-fluid">
	<div class="row" *ngIf="salesObject">
		<div class="col-12">
			<div class="card mb-3">
			  <div class="card-block">
		    	<div class="row">
		    		<div class="col-7">
					    <h4 class="card-title"><small>Beskrivning</small></h4>
		    			<p class="card-text"><small class="text-muted">{{salesObject.text.info}}</small></p>
		    			<div class="viewings">
				  			<small class="display-4 text-muted">Visningar</small>
				  			<table class="table table-sm">
								  <thead>
								    <tr>
								      <th class="text-muted">Datum</th>
								      <th class="text-muted">Från</th>
								      <th class="text-muted">Till</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <th scope="row" class="text-muted">23-07-2017</th>
								      <td>07:30</td>
								      <td>08:30</td>
								    </tr>
								    <tr>
								      <th scope="row" class="text-muted">02-08-2017</th>
								      <td>08:30</td>
								      <td>09:30</td>
								    </tr>
								    <tr>
								      <th scope="row" class="text-muted">05-08-2017</th>
								      <td>07:40</td>
								      <td>08:40</td>
								    </tr>
								  </tbody>
								</table>
							</div>
		    		</div>
		    		<div class="col-5">
				    	<h4 class="card-title"><small>Interiör</small></h4>
	  					<p *ngFor="let text of salesObject.text.roomInfo"><small class="text-muted">{{text}}</small></p>
		    		</div>
	    		</div>
			  </div>
			</div>
		</div>
	</div>
</div>