<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4>Ansvarig mäklare</h4>
      <!--<p>{{brokerObject.brokerInfo}}</p>-->
    </div>
  </div>
  <div class="row" *ngIf="brokersObject">
    <div class="col-6">
      <br>
      <p>
        <strong>Namn: </strong> {{brokersObject.firstName}} {{brokersObject.lastName}} <br/>
        <strong>Telefon: </strong> {{brokersObject.contact.phone}} <br/>
        <strong>Epost: </strong> {{brokersObject.contact.mail}} <br/>
        <strong>About: </strong> {{brokersObject.contact.personDesc}}
      </p>
    </div>
    <div class="col-6"><img src="{{brokersObject.profile_image_src}}" style="width:60%"></div>
  </div>
</div>
