<div class="container">
	<div class="row">
		<div class="col-12">
			<div *ngIf="salesObject">
			    <h4 class="card-title">Beskrivning</h4>
				<p class="card-text text-muted">{{salesObject.text.shortInfo}}</p>

				<h4 class="card-title">Mer information</h4>
				<p class="card-text text-muted">{{salesObject.text.info}}</p>

		    	<h4 class="card-title">Interiör</h4>
				<p *ngFor="let text of salesObject.text.roomInfo" class="text-muted">{{text}}</p>

				<h4 class="card-title">Specifikationer</h4>
				<table class="table table-sm table-striped">
					<thead></thead>
					<tbody>
						<tr>
							<td>Tillagd:</td>
							<td>{{salesObject.dateAdded}}</td>
						</tr>
						<tr>
							<td>Typ:</td>
							<td>{{salesObject.type}}</td>
						</tr>
						<tr>
							<td>Byggd:</td>
							<td>{{salesObject.buildDate}}</td>
						</tr>
						<tr>
							<td>Area:</td>
							<td>{{salesObject.area}} m&#178;</td>
						</tr>
						<tr>
							<td>Totala area:</td>
							<td>{{salesObject.totalArea}} m&#178;</td>
						</tr>
						<tr>
							<td>Toaletter:</td>
							<td>{{salesObject.bathrooms}} st</td>
						</tr>
						<tr>
							<td>Rum:</td>
							<td>{{salesObject.rooms}} st</td>
						</tr>
						<tr>
							<td>Stad:</td>
							<td>{{salesObject.place.city}}</td>
						</tr>
						<tr>
							<td>Adress:</td>
							<td>{{salesObject.place.adress}}</td>
						</tr>
						<tr>
							<td>Postkod:</td>
							<td>{{salesObject.place.postcode}}</td>
						</tr>
						<tr>
							<td>Månadskostnad:</td>
							<td>{{salesObject.priceMonth}} kr</td>
						</tr>
						<tr>
							<td><strong>Pris:</strong></td>
							<td><strong>{{salesObject.price}} kr</strong></td>
						</tr>
					</tbody>
				</table>
				



				<!-- Förslag: Energi deklaration/energiförbrukning -->

				<div class="viewings">
		  			<small class="display-4 text-muted">Visningar</small>
		  			<table class="table table-sm">
						<thead>
						    <tr>
						    	<th class="text-muted">Datum</th>
						    	<th class="text-muted">Från</th>
						    	<th class="text-muted">Till</th>
						    </tr>
						</thead>
						<tbody>
						    <tr *ngFor="let showing of salesObject.showings">
						    	<th scope="row" class="text-muted">{{showing.date}}</th>
						    	<td>{{showing.from}}</td>
						    	<td>{{showing.to}}</td>
						    </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>