<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4>Ansvarig mäklare</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nesciunt ullam doloremque quos at, 
        tenetur consequuntur harum cum dolores numquam fuga rerum culpa enim quod, 
        possimus excepturi aspernatur atque porro.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">Bild</div>
    <div class="col-6">Kontaktuppgifter mäklare</div>
  </div>
</div>