<div class="container card-container mt-4">
	<a *ngFor="let salesObject of salesObjects; let i = index" [routerLink]="['/detail', salesObject.id]">
		<div class="row">
			<div class="col-12">
				<div class="card mb-4 rounded-0">
					<div class="row no-gutters container-img">
						<div class="col-sm-12 col-md-6 img-object-small" [style.background-image]="getSalesObjectImg(salesObject,0)">
					  </div>
						<div class="hidden-sm-down col-md-6 img-object-small" [style.background-image]="getSalesObjectImg(salesObject,1)">
					  </div>
				  </div>
				  <div class="card-block">
	    			<p class="card-text">
	    				<small class="text-muted text-uppercase">{{salesObject.type}}</small>
	    			</p>
				    <h4 class="card-title">{{salesObject.place.city}}<small class="text-muted">, {{salesObject.place.municipality}}</small></h4>
			    	<div class="row">
			    		<div class="col-7">
			    			<p class="card-text">{{salesObject.place.adress}}</p>
			    			<p class="card-text">
			    				<small class="text-muted">{{salesObject.text.shortInfo}}</small>
			    			</p>
			    		</div>
			    		<div class="col-5">
			    			<p class="card-text">
			    				<small class="text-muted">PRIS: </small>
			    				<small class="font-weight-bold">{{salesObject.price}} kr</small>
			    			</p>
			    			<p class="card-text">
			    				<small class="text-muted">MÅNADSAVGIFT: </small>
			    				<small class="font-weight-bold">{{salesObject.priceMonth}} kr</small>
			    			</p>
			    			<p class="card-text">
			    				<small class="text-muted">RUM: </small>
			    				<small class="font-weight-bold">{{salesObject.rooms}} st</small>
			    			</p>
			    			<p class="card-text">
			    				<small class="text-muted">BOAREA: </small>
			    				<small class="font-weight-bold">{{salesObject.area}} kvm</small>
			    			</p>
			    		</div>
		    		</div>
				  </div>
				</div>
			</div>
		</div>
	</a>
</div>