<div class="row" *ngIf="salesObject">
	<div class="col-12">
		<div class="card mb-3">
		  <div class="card-block">
	    	<div class="row">
	    		<div class="col-7">
				    <h4 class="card-title"><small>Beskrivning</small></h4>
	    			<p class="card-text"><small class="text-muted">{{salesObject.text.info}}</small></p>
	    		</div>
	    		<div class="col-5">
			    	<h4 class="card-title"><small>Interiör</small></h4>
  					<p *ngFor="let text of salesObject.text.roomInfo"><small class="text-muted">{{text}}</small></p>
	    		</div>
    		</div>
		  </div>
		</div>
	</div>
</div>