<div class="container-fluid search-component">
	<div class="vspace"></div>
	<form>
		<div class="form-group">
			<label for="searchBox">Sök</label>
			<input class="form-control" id="searchBox" type="search" placeholder="Sök efter stad, bostadstyp, ort">
		</div>
	</form>

	<div class="row">
		<div *ngFor="let filter of filterOptions" class="col-6 col-md-3">
			<select class="custom-select">
			  <option selected>{{filter.type}}</option>
			  <option *ngFor="let option of filter.options">
			  	{{option}}
			  </option>
			</select>
		</div>
	</div>
	<div class="vspace"></div>
</div>
