<div class="container-fluid search-component">
	<div class="vspace"></div>
	<form>
		<div class="form-group">
			<label for="searchBox">Sök</label>
			<input class="form-control" (keyup)="onKey($event)" id="searchBox" type="search" placeholder="Sök efter stad, bostadstyp, ort">
		</div>
	</form>

	<div class="row">
		<div *ngFor="let filter of localMem.filters" class="col-6 col-md-3">
			<div ngbDropdown>
		        <button class="btn btn-secondary" id="dropdownMenu1" ngbDropdownToggle>
		        	<span *ngIf="!filter.selectedOption"> {{filter.type}}</span>
		        	<span *ngIf="filter.selectedOption">{{filter.selectedOption}}</span>
		        </button>
		        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
		          <button class="dropdown-item" *ngFor="let option of filter.options" 
		          (click)="chooseFilter(filter, option)">
		          	{{option}}
		          </button>
		        </div>
	      	</div>
		</div>
	</div>
	<div class="vspace"></div>
</div>
