.card-container a:hover {
	text-decoration: none;
}

.img-object-small {
	background-position: 50% 80%;
  background-size: cover;
  border-right: 1px solid lightgrey;
  height: 250px;
}

.img-object-small:last-child {
	border-right: 0px;
}

.sorting-controls .dropdown {
	width: 100%;
	color: white;
	margin-bottom: 10px;
}

.sorting-controls .dropdown button {
	width: 100%;
}