.card-container a:hover {
	text-decoration: none;
}

.img-object-small {
	background-position: 50% 80%;
  	background-size: cover;
  	border-right: 1px solid lightgrey;
  	height: 250px;
}

.img-object-small:last-child {
	border-right: 0px;
}

.sorting-controls a{
	width: 100%;
	margin-bottom: 10px;
	display: inline-block;
}

.sorting-controls a:hover{
	cursor: pointer;
	color: PaleVioletRed;
}
