.card-container a:hover {
	text-decoration: none;
}

.img-object-small {
	background-position: 50% 80%;
  	background-size: cover;
  	border-right: 1px solid lightgrey;
  	height: 250px;
}

.img-object-small:last-child {
	border-right: 0px;
}

.sorting-controls a{
	width: 100%;
	margin-bottom: 10px;
	display: inline-block;
}

.sorting-controls a:hover{
	cursor: pointer;
	color: PaleVioletRed;
}

.table {
  font-size: 14px;
  max-width: 350px;
}
.last-element {
  margin-bottom: 20px;
}
h4.city {
  margin-top:0;
}

.moove {
	display: block;
}


@media screen and (max-width: 500px) {
	.move-down-text {
		display: block;

	}
}
